:root{
    --principal_color: #16792b;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    font-size: 62.5%;
    font-size: 1.2rem;
}
button{
    cursor: pointer;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    transition: 300ms;
    min-width: 100px;
    height: 26px;
}
button:hover{
    background: none;
    color: var(--principal_color);
    border: 1px solid var(--principal_color);
}
input{
    outline: none;
}
ul{
    list-style: none;
}
/* panel */
main{
    display: grid;
    height: 100vh;
    grid-template-columns: 260px auto;
}
#panel{ 
    height: 100%;
    background-color: #000;
    color: #fff;
    display: grid;
    grid-template-rows: min-content auto min-content;
}
#panel > h1{
    text-align: center;
    margin: 10px 0;
}
#panel-lista{
    margin-left: 20px;
}
#panel-div-boton{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#panel-boton{
    width: 90%; 
    margin-bottom: 10px;
}
/* principal */
#principal{
    margin: 10px 0 0 20px;
}
#cards{
    display: grid;
    grid-template: repeat(auto,12) repeat(auto,12);
}
.card{
    min-width: 100px;
    min-height: 100px;
    margin: 5px;
    background-color: burlywood;
}
#loader{
    display: flex;
    gap: 12px;
    height: 300px;
    display: none;
}
#cian, #magenta{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    mix-blend-mode: multiply;
    padding: 10px;
}
#cian{
    background-color: cyan;
    animation: move-right 1s linear infinite;
}
#magenta{
    background-color: magenta;
    animation: move-left 1s linear infinite;
}

@keyframes move-right{
    0%,10%{
        transform: scale(1) translate(0);
    }
    30%{
        transform: scale(1.2) translateX(55px);
    }
    50%,60%{
        transform: scale(1) translate(110px);
    }
    80%{
        transform: scale(.8) translate(55px);
    }
}
@keyframes move-left{
    0%,10%{
        transform: scale(1) translate(0);
    }
    30%{
        transform: scale(.8) translateX(-55px);
    }
    50%,60%{
        transform: scale(1) translate(-110px);
    }
    80%{
        transform: scale(1.2) translate(-55px);
    }
}
@keyframes rotarxd{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}