#cards{
    height: fit-content;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
}
#mantel{
    max-width: 600px;
    min-width: 200px;
    margin: 0 auto;
    padding: 20px;

    display: grid;
    grid-auto-rows: auto;
    gap: 10px;

    background-color: var(--gray_1);
    border-radius: 5px;
}
.card{
    height: fit-content;
    max-width: 1000px;
    min-width: 200px;
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: auto 5fr;
    background-color: var(--magenta_2);
    border-radius: 5px; 
}
.user_img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.data_user{
    width: 100%;
    display: grid;

    grid-template-columns: auto max-content;
}
.data_user > p{
    float: right;
}
.titulo{
    color: var(--white_2);
}
.delete_button{
    background-color: red;
    float: right;
}
.delete_button:hover{
    border: red 2px solid;
    color: black;
}