#principal_page{
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: min-content auto;
}
#no_logged, #logged{
    width: 1ch;
    height: 1ch;
    
    border-radius: 50%;
}
#no_logged{
    background-color: red;
}
#logged{
    background-color: green;
}
#login_status > * {
    display: inline-block;
}
