.online_user{
    width: max-content;
    height: max-content;
    margin: 5px;
    padding: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    border-radius: 10px;
    background-color: var(--gray_1);

    color: whitesmoke;
}
.online_user_img{
    width: 3ch;
    height: 3ch;

    border: solid 2px greenyellow;
    border-radius: 50%;
}