#login{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login_div{
    height: fit-content;
    width: 450px;
    padding: 50px;
    background-color:var(--gray_1_t);
    border-radius: 5px;
}
h2{
    color: var(--white_1);
    text-align: center;
}
#login_div > * ,form > *{
    margin: 5px 0;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    width: 100%;
}
.new_user{
    font-weight: 700;
    color: var(--white_1);
    cursor: pointer;
    text-align: center;
}
.new_user:hover{
    color: var(--magenta_1);
}
.highlight{
    border-radius: 2px;
    background-color: var(--white_2);
    color: red;
    text-align: center;
}
#server_status {
    color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}
#red,#green{
    width: 1ch;
    height: 1ch;
    border-radius: 50%;
}
#red{
    background-color: red;
}
#green{
    background-color: greenyellow;
}
#advertencia{
    color: red;
    text-align: center;
    font-weight: bold;
}