#nepe{
    width: 100%;
    padding: 10px;
}
.loading{
    width: 100%;
    height: 100%;

    background-color: var(--gray_2);
}
#profile{
    max-width: 900px;
    height: 95%;
    margin: 0 auto;

    background-color: var(--gray_2_t);
    border-radius: 5px;

    overflow-y: auto;
}
#profile_contend{
    width: fit-content;
    padding: 10px;

    display: grid;
    grid-template-columns: min-content max-content;

}
#contend{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
}
#name{
    font-size: 2rem;
}
#mail{
    font-size: 1.2rem;
}
div > img {
    height: 180px;
    width: 190px;

    border: 10px solid var(--magenta_1);
    border-radius: 50%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#decorador{
    height: 1px;
    width: 95%;
    margin: 10px;

    border: 1px var(--gray_1) solid;
}